<div class="main_index">
	<div class="left_side">
		<div id="guide-builder-promo">
		<div class="clearfix"></div>
		  <div class="pages">
			<ul>
				{if !$userquery->login_check('',true)}
				{lang code='after_meny_guest_msg' assign='guestmsg'}
				{link name=login assign='loginlink'}
				 
				<h2>Sign in to add channels to your homepage</h2> 
		<div class="accunts">                 
		<ul>
		<li class="button_1"><a href="{link name='signup'}">Sign In</a></li> 
		<li class="button_2"><a href="{link name='signup'}">Create Account</a></li>
		</ul>
		</div>	
				{else}
			   <div class="button_3">
			   <ul><li><a href="{link name='upload'}">Upload video</a></li></ul></div> 
				
				<div class="accunts_2 clearfix">
				
		<a href="{$userquery->profile_link($userquery->udetails)}"><img src="{$userquery->getUserThumb($userquery->udetails)}" width="100" height="88" style="float:left;border-radius: 2px 2px 2px 2px; margin-right:5px; border:none;" /></a>
		 
				
					<li><a href="{link name='my_account'}">{lang code='com_my_account'}</a></li>          	
					<li><a href="{$userquery->profile_link($userquery->udetails)}">{lang code='com_my_channel'}</a></li>
					<li><a href="{link name='my_videos'}">{lang code='com_my_videos'}</a></li>
					<li><a href="{link name='my_favorites'}">{lang code='Favorites'}</a></li>
					<li><a href="{link name='my_playlists'}">{lang code='playlists'}</a></li>
					
					<li><a href="{link name='logout'}">Logout</a></li> 
				 <li><a href="{link name='my_contacts'}">{lang code='friend_requests'} ({$userquery->get_pending_contacts($userquery->userid,0,true)})</a></li> 
					   </div>
				  
						
					{/if}
				
					</ul>
					</div>
		</div><!--guide-builder-promo-->
		<div class="nav_bar">
		<ul>
		{cbMenu echo='yes'}
		</ul>
		</div><!--nav_bar-->
		<div class="side_bar clearfix">
		</div><!--side_bar-->
	</div><!--left_side-->
	<div class="large_right_side">
		{if isSectionEnabled('videos') ||  isSectionEnabled('photos')}
			{include file="$style_dir/blocks/subscriptions.html"}
		{/if}
		{if isSectionEnabled('videos')}
			<div class="black_right">				
				<div class="text_91">Videos</div>
				
				<div class="tabs">
				<ul>
				   <li class="selected"><a href="javascript:void(0)" id="watched" onclick="get_video('recent_viewed_vids','#index_vid_container')">{lang code='being_watched'}</a></li>
				   <li><a href="javascript:void(0)" id="most_watched" onclick="get_video('most_viewed','#index_vid_container')">{lang code='most_viewed'}</a></li>
				   <li><a href="javascript:void(0)" id="recently_watched" onclick="get_video('recently_added','#index_vid_container')">{lang code='recently_added'}</a></li>
				</ul>    	
				</div> <!--TABS END-->
			</div><!--black_right-->
			<div class="largebox">
				<div class="main_vids clearfix">
				<div id="style_change">
				<div id="grid" onclick="ToggleView(this);" title="Change To Grid Style"></div> 
				<div id="list" onclick="ToggleView(this);" title="Change to List Style"></div>
				</div> <!--STYLE_CHANGE END-->
				<div id="index_vid_container" style="display:block;">
				</div>
				</div> <!--MAIN_VIDS END-->
				<div class="main_vid_shadow"></div>
				<div style="height:5px;"></div>	
			</div><!--box-->
		{/if}
		<div class="clearfix"></div>
		{if isSectionEnabled('photos')}
			<div class="black_right">				
				<div class="text_91">Photos</div>
					
				<div class="tabs">
				  <ul>
						<li class="selected"><a href="javascript:void(0)" id="watched" onclick="getAjaxPhoto('last_viewed','#index_pho_container')">{lang code='being_watched'}</a></li>
						<li><a href="javascript:void(0)" id="most_watched" onclick="getAjaxPhoto('most_viewed','#index_pho_container')">{lang code='most_viewed'}</a></li>
						<li><a href="javascript:void(0)" id="recently_watched" onclick="getAjaxPhoto('most_recent','#index_pho_container')">{lang code='recently_added'}</a></li>
				   </ul>    	
				</div> <!--TABS END-->
			</div><!--black_right-->
			<div class="largebox">
			 <div class="main_vids clearfix">
				
				   <div id="index_pho_container">
				   
				   </div>
					
				</div> <!--MAIN_VIDS END-->
				 <div class="main_vid_shadow"></div>
				 <div style="height:5px;"></div>
				
			</div><!--box-->
		{/if}
		<div class="clearfix"></div>
		{if isSectionEnabled('collections')}
			<div class="black_right">
				<div class="text_91">Collections</div>
					
				<div class="tabs">
				  <ul>
						<li class="selected"><a href="javascript:void(0)" id="watched" onclick="getAjaxCollection('col_last_viewed','#index_col_container')">{lang code='being_watched'}</a></li>
						<li><a href="javascript:void(0)" id="most_watched" onclick="getAjaxCollection('col_most_viewed','#index_col_container')">{lang code='most_viewed'}</a></li>
						<li><a href="javascript:void(0)" id="recently_watched" onclick="getAjaxCollection('col_most_recent','#index_col_container')">{lang code='recently_added'}</a></li>
				   </ul>    	
				</div> <!--TABS END-->
			</div><!--black_right-->
			<div class="largebox">
			 <div class="main_vids clearfix">
				
				   <div id="index_col_container">
				   
				   </div>
					
				</div> <!--MAIN_VIDS END-->
				 <div class="main_vid_shadow"></div>
				 <div style="height:5px;"></div>
				
			</div><!--box-->
		{/if}
		<div class="clearfix"></div>
		{if isSectionEnabled('artists')}
			<div class="black_right">
				<div class="text_91">Artists</div>
					
				<div class="tabs">
				  <ul>
						<li class="selected"><a href="javascript:void(0)" id="watched" onclick="getAjaxArtist('ar_last_viewed','#index_ar_container')">{lang code='being_watched'}</a></li>
						<li><a href="javascript:void(0)" id="most_watched" onclick="getAjaxArtist('ar_most_viewed','#index_ar_container')">{lang code='most_viewed'}</a></li>
						<li><a href="javascript:void(0)" id="recently_watched" onclick="getAjaxArtist('ar_most_recent','#index_ar_container')">{lang code='recently_added'}</a></li>
				   </ul>    	
				</div> <!--TABS END-->
			</div><!--black_right-->
			<div class="largebox">
			 <div class="main_vids clearfix">
				
				   <div id="index_ar_container">
				   
				   </div>
					
				</div> <!--MAIN_VIDS END-->
				 <div class="main_vid_shadow"></div>
				 <div style="height:5px;"></div>
				
			</div><!--box-->
		{/if}
		<div class="clearfix"></div>
	</div><!--right_side-->

</div><!--main_index-->